# Python
__pycache__/
*.pyc

#docker-compose.yml

# Brain docs runtime data
src/brain/docs/plan.json
src/brain/docs/info_pack.json
src/brain/docs/plan-backup.json

docker-compose.yml
docs/log_simulation.txt

appunti.txt